openapi: 3.1.0
info:
  title: RuneSignal API
  description: |
    **RuneSignal** is the AI Agent Action Firewall for Enterprise Systems.

    Every consequential agent action is evaluated against identity, policy, moral alignment,
    and risk rules before execution. Ed25519-signed audit certificates provide tamper-evident
    provenance for every decision.

    ## Authentication
    All API requests require a Bearer token with prefix `tl_`:
    ```
    Authorization: Bearer tl_your_api_key_here
    ```
    Generate API keys in **Account Settings -> API Keys**.

    ## Tenant Isolation
    All requests require `X-Tenant-Id` header (or use the session tenant for dashboard calls).

    ## Rate Limits
    - Starter: 1,000 req/min
    - Pro: 10,000 req/min
    - Enterprise: unlimited
  version: 2.0.0
  contact:
    name: RuneSignal Support
    url: https://runesignal.com
servers:
  - url: https://api.runesignal.com/api/v1
    description: Production API
  - url: http://localhost:3000/api/v1
    description: Local Development

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: tl_prod_...
  parameters:
    TenantId:
      name: X-Tenant-Id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant UUID
    AgentId:
      name: X-Agent-Id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Agent UUID
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 200
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Invalid Request"

    FirewallRequest:
      type: object
      required: [action, resource]
      properties:
        agent_id:
          type: string
          format: uuid
          description: Agent UUID (overrides X-Agent-Id header)
        action:
          type: string
          example: "create_journal_entry"
        resource:
          type: string
          example: "erp://journal/entries"
        tool_name:
          type: string
          example: "erp_create_journal"
        description:
          type: string
        domain:
          type: string
          example: "finance"
        metadata:
          type: object
          additionalProperties: true
        risk_threshold:
          type: integer
          minimum: 0
          maximum: 100
          default: 70

    FirewallResponse:
      type: object
      properties:
        evaluation_id:
          type: string
          format: uuid
        verdict:
          type: string
          enum: [allow, block, escalate]
        risk_score:
          type: integer
          minimum: 0
          maximum: 100
        checks:
          type: array
          items:
            type: object
            properties:
              module:
                type: string
              passed:
                type: boolean
              score:
                type: integer
              message:
                type: string
                nullable: true
        reasons:
          type: array
          items:
            type: string
        certificate_id:
          type: string
          format: uuid
          nullable: true
        hitl_ticket_id:
          type: string
          format: uuid
          nullable: true
        latency_ms:
          type: integer

    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        model:
          type: string
        status:
          type: string
          enum: [active, suspended, revoked]
        permissions:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time

    HitlTicket:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, critical]
        status:
          type: string
          enum: [pending, approved, rejected, expired]
        agent_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true

    ProvenanceCertificate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        action:
          type: string
        resource:
          type: string
          nullable: true
        outcome:
          type: string
        signature:
          type: string
          description: Ed25519 signature (hex-encoded)
        created_at:
          type: string
          format: date-time

    MoralVerdict:
      type: object
      properties:
        verdict:
          type: string
          enum: [pass, pause, block]
        domain:
          type: string
          example: "finance"
        score:
          type: number
          example: 0.95
        conflict_reason:
          type: string
          nullable: true
        escalate_to:
          type: string
          nullable: true

    A2ASession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        initiator_id:
          type: string
          format: uuid
        target_id:
          type: string
          format: uuid
        task_description:
          type: string
        status:
          type: string
          enum: [active, completed, expired]
        verdict:
          type: string
        signature:
          type: string
        message_count:
          type: integer
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    Approval:
      type: object
      properties:
        approval_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        action_type:
          type: string
        action_description:
          type: string
        blast_radius:
          type: string
          enum: [low, medium, high, critical]
        reversible:
          type: boolean
        status:
          type: string
          enum: [pending, approved, rejected, escalated, expired]
        decision:
          type: string
          nullable: true
          enum: [approved, rejected]
        decided_by:
          type: object
          nullable: true
        decided_at:
          type: string
          format: date-time
          nullable: true
        reviewer_note:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

tags:
  - name: Firewall
    description: Core AI action firewall evaluation
  - name: Agents
    description: Agent identity and credential management
  - name: AgentInventory
    description: Shadow AI discovery and agent inventory
  - name: Provenance
    description: Cryptographic audit certificates
  - name: Policy
    description: Intent mediation and policy enforcement
  - name: Moral
    description: Corporate SOUL and moral alignment
  - name: Exceptions
    description: HITL exception tickets (legacy)
  - name: HITL
    description: Human-in-the-loop approval workflows
  - name: Compliance
    description: Compliance reporting and evidence export
  - name: SIEM
    description: SIEM event export and subscription
  - name: A2A
    description: Agent-to-agent governed communication (S16)
  - name: Anomaly
    description: Behavioral anomaly detection (S14)
  - name: Explain
    description: Decision explainability (S11)
  - name: FinOps
    description: AI cost governance (S9)
  - name: Physical
    description: Physical AI safety governance (S15)
  - name: NHI
    description: Non-human identity management (S12)
  - name: Sovereign
    description: Data sovereignty and residency (S10)
  - name: Sovereignty
    description: Data residency policy management
  - name: RedTeam
    description: Automated red team campaigns (S17)
  - name: Plugins
    description: Plugin marketplace and webhook integrations
  - name: SoulTemplates
    description: SOUL template catalog and activation
  - name: ApprovalGateway
    description: Public-facing approval request API for external AI workflows
  - name: Integrations
    description: Third-party integrations (Slack, Teams, Jira, ServiceNow)
  - name: Billing
    description: Stripe billing and subscription management
  - name: Auth
    description: SSO authentication providers
  - name: Internal
    description: Dashboard-only endpoints (session auth)
  - name: Onboarding
    description: Tenant onboarding utilities

paths:
  # ──────────────────────────────────────────────
  # Firewall
  # ──────────────────────────────────────────────
  /firewall/evaluate:
    post:
      summary: Evaluate Agent Action
      description: |
        The core RuneSignal firewall endpoint. Chains identity -> policy + moral (parallel) ->
        risk -> HITL auto-escalation. Returns a composite verdict in <500ms p95.

        **Verdicts:**
        - `allow` -- action is safe to proceed
        - `block` -- action is blocked by policy or identity check
        - `escalate` -- action requires human approval (HITL ticket created automatically)
      tags: [Firewall]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRequest'
            example:
              action: create_journal_entry
              resource: "erp://journal/entries"
              domain: finance
              description: "Post $12,500 invoice from Acme Corp"
              metadata:
                amount: 12500
                currency: USD
              risk_threshold: 70
      responses:
        '200':
          description: Action allowed or escalated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResponse'
        '403':
          description: Action blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResponse'
        '401':
          description: Missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /firewall/evaluations:
    get:
      summary: List Recent Firewall Evaluations
      description: Returns recent firewall evaluations for the tenant. Used by the dashboard.
      tags: [Firewall]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: verdict
          in: query
          schema:
            type: string
            enum: [allow, block, escalate]
      responses:
        '200':
          description: List of evaluations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  # ──────────────────────────────────────────────
  # Agents
  # ──────────────────────────────────────────────
  /agents:
    get:
      summary: List Agents
      description: Returns all registered agents for the tenant. Optionally filter by status.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, revoked]
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
    post:
      summary: Register Agent (Simple)
      description: Registers a new AI agent via the IdentityService.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Agent registered

  /agents/register:
    post:
      summary: Register Agent
      description: Registers a new AI agent and issues a JWT identity token.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: "Invoice Processor v2"
                type:
                  type: string
                  example: "finance"
                description:
                  type: string
                public_key:
                  type: string
            example:
              name: "Invoice Processor v2"
              type: "finance"
              description: "Handles AP/AR journal entries"
      responses:
        '200':
          description: Agent registered with token
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  agent:
                    $ref: '#/components/schemas/Agent'
                  token:
                    type: string
                    description: JWT bearer token (shown once)

  /agents/{id}:
    get:
      summary: Get Agent Detail
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Agent detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
    patch:
      summary: Update Agent Status
      description: Transition agent to active or suspended.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [active, suspended]
                reason:
                  type: string
      responses:
        '200':
          description: Agent updated
    delete:
      summary: Revoke Agent
      description: Permanently revokes an agent.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Agent revoked

  /agents/{id}/rotate:
    post:
      summary: Rotate Agent Token
      description: Revokes the current JWT and issues a new one.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: New token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                    format: uuid
                  token:
                    type: string
                  message:
                    type: string

  /agents/{id}/suspend:
    post:
      summary: Suspend Agent (Emergency)
      description: Immediately suspends a rogue or compromised agent. Audited via S6.
      tags: [Agents]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Agent suspended
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  agent:
                    $ref: '#/components/schemas/Agent'

  # ──────────────────────────────────────────────
  # Agent Inventory (Shadow AI Discovery)
  # ──────────────────────────────────────────────
  /agents/inventory:
    get:
      summary: List Agent Inventory
      description: Returns all agents in the shadow AI discovery inventory. Supports filtering by framework, platform, risk classification, and status.
      tags: [AgentInventory]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: framework
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
        - name: risk_classification
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Agent inventory list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
                  shadow_ai_count:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
    post:
      summary: Add Agent to Inventory
      description: Manually register an agent in the inventory.
      tags: [AgentInventory]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                framework:
                  type: string
                  default: unknown
                platform:
                  type: string
                  default: custom
                model:
                  type: string
                status:
                  type: string
                  default: active
                risk_classification:
                  type: string
                  default: unclassified
                is_sanctioned:
                  type: boolean
                  default: false
                eu_ai_act_category:
                  type: string
                  default: unclassified
                metadata:
                  type: object
      responses:
        '201':
          description: Agent added to inventory

  /agents/inventory/register:
    post:
      summary: SDK Auto-Registration
      description: Called automatically on first use of @runesignal/sdk. Upserts the agent in inventory.
      tags: [AgentInventory]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_id:
                  type: string
                name:
                  type: string
                framework:
                  type: string
                platform:
                  type: string
                model:
                  type: string
                metadata:
                  type: object
      responses:
        '201':
          description: New agent registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  registered:
                    type: boolean
                  agent_id:
                    type: string
                    format: uuid
        '200':
          description: Existing agent updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  registered:
                    type: boolean
                  updated:
                    type: boolean
                  agent_id:
                    type: string
                    format: uuid

  # ──────────────────────────────────────────────
  # Provenance
  # ──────────────────────────────────────────────
  /provenance:
    get:
      summary: Query Audit Certificates or Model Versions
      description: Returns a list of cryptographic certificates for a tenant or a list of detected model versions.
      tags: [Provenance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: action
          in: query
          required: false
          schema:
            type: string
            enum: [model-versions, query]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        model:
                          type: string
                        version:
                          type: string
                        last_seen:
                          type: string
                          format: date-time

  /provenance/certify:
    post:
      summary: Certify Action
      description: Creates an Ed25519-signed provenance certificate for a completed agent action.
      tags: [Provenance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, outcome]
              properties:
                action:
                  type: string
                resource:
                  type: string
                outcome:
                  type: string
                  enum: [success, failure, partial]
                provider:
                  type: string
                model_version:
                  type: string
                completion_text:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Certificate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvenanceCertificate'

  /provenance/{id}:
    get:
      summary: Get Certificate by ID
      description: Retrieves a provenance certificate by its request ID.
      tags: [Provenance]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Certificate detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate:
                    $ref: '#/components/schemas/ProvenanceCertificate'
        '404':
          description: Certificate not found

  /provenance/verify/{id}:
    get:
      summary: Verify Certificate Signature
      description: |
        Public verification endpoint. Re-canonicalizes the certificate payload and
        verifies the Ed25519 signature. Does not require tenant authentication --
        external auditors can verify certificates independently.
      tags: [Provenance]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Certificate request_id
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  reason:
                    type: string
        '404':
          description: Certificate not found

  # ──────────────────────────────────────────────
  # Intent (S1 Conflict Arbiter)
  # ──────────────────────────────────────────────
  /intent:
    post:
      summary: Mediate Agent Intent
      description: Evaluates an agent's intended action against existing locks and policy constraints.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Vendor
          in: header
          required: false
          schema:
            type: string
            enum: [openai, claude]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_description]
              properties:
                intent_description:
                  type: string
                  example: "Executing a financial transfer to vendor X"
                vendor:
                  type: string
                  enum: [openai, claude]
      responses:
        '200':
          description: Intent allowed
        '403':
          description: Intent blocked
        '409':
          description: Intent queued (resource contention)
    get:
      summary: List Recent Intents
      description: Returns the 50 most recent agent intents for the tenant.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Intent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  intents:
                    type: array
                    items:
                      type: object
    put:
      summary: Override Intent
      description: Override an existing intent by ID.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  format: uuid
                updates:
                  type: object
      responses:
        '200':
          description: Intent updated
    delete:
      summary: Release Intent Lock
      description: Releases an intent lock by ID.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Intent released

  # ──────────────────────────────────────────────
  # Moral (S8 MoralOS)
  # ──────────────────────────────────────────────
  /moral:
    post:
      summary: Evaluate Moral Alignment
      description: Evaluates an action against the Corporate SOUL (Governance Policy).
      tags: [Moral]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action_description]
              properties:
                action_description:
                  type: string
                  example: "Sharing sensitive customer data with external vendor"
                domain:
                  type: string
                  example: "privacy"
                  description: "Set to 'auto' for automatic domain detection"
                action_metadata:
                  type: object
      responses:
        '200':
          description: Moral verdict (pass or pause)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoralVerdict'
        '403':
          description: Action blocked by moral policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoralVerdict'
    get:
      summary: Get SOUL or Moral Events
      description: |
        Query types:
        - `?type=soul` -- returns the active Corporate SOUL document
        - `?type=events` -- returns paginated moral evaluation events
        - `?type=history` -- returns SOUL version history
      tags: [Moral]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: type
          in: query
          schema:
            type: string
            enum: [soul, events, history]
            default: soul
        - name: domain
          in: query
          schema:
            type: string
          description: Filter events by domain (only for type=events)
        - name: verdict
          in: query
          schema:
            type: string
            enum: [pass, pause, block]
          description: Filter events by verdict (only for type=events)
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: SOUL document, moral events, or version history

  /moral/soul:
    put:
      summary: Upsert Corporate SOUL
      description: Creates or updates the Corporate SOUL governance document.
      tags: [Moral]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [soul]
              properties:
                soul:
                  type: object
                  description: The full SOUL governance document
                admin_id:
                  type: string
      responses:
        '200':
          description: SOUL updated
    get:
      summary: Get SOUL Version History
      tags: [Moral]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: SOUL version history

  /moral/verify/{version}:
    post:
      summary: Verify SOUL Version Signature
      description: Verifies the Ed25519 signature of a specific SOUL version.
      tags: [Moral]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  version:
                    type: integer

  # ──────────────────────────────────────────────
  # Enforce (MCP Proxy)
  # ──────────────────────────────────────────────
  /enforce/tool-call:
    post:
      summary: Enforce Tool Call Permission
      description: MCP enforcement proxy. Validates whether an agent is permitted to invoke a specific tool.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tool_name]
              properties:
                tool_name:
                  type: string
                  example: "erp_create_journal"
      responses:
        '200':
          description: Tool call allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed:
                    type: boolean
                  agent_id:
                    type: string
        '403':
          description: Tool call denied

  # ──────────────────────────────────────────────
  # Policies
  # ──────────────────────────────────────────────
  /policies:
    get:
      summary: List Arbiter Policies
      description: Returns all arbiter policies for the tenant.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      type: object
    post:
      summary: Create Arbiter Policy
      description: Creates a new semantic policy with embedding-based matching.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, description]
              properties:
                name:
                  type: string
                description:
                  type: string
                intent_category:
                  type: string
                policy_action:
                  type: string
                  enum: [block, allow, escalate]
                  default: block
      responses:
        '200':
          description: Policy created

  /policies/packs:
    get:
      summary: List Policy Packs
      description: Returns all available regulatory policy packs with tenant installation status.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of policy packs
          content:
            application/json:
              schema:
                type: object
                properties:
                  packs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                          enum: [healthcare, financial, privacy, payment, security]
                        tier_required:
                          type: string
                          enum: [starter, pro, enterprise]
                        installed:
                          type: boolean
                        installed_at:
                          type: string
                          format: date-time
                          nullable: true
    post:
      summary: Install Policy Pack
      description: Installs a regulatory policy pack for the tenant.
      tags: [Policy]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pack_id]
              properties:
                pack_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Pack installed
        '404':
          description: Pack not found

  # ──────────────────────────────────────────────
  # Exceptions (Legacy HITL)
  # ──────────────────────────────────────────────
  /exceptions:
    get:
      summary: List HITL Exceptions
      description: List recent exception tickets for the tenant.
      tags: [Exceptions]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Exception list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HitlTicket'
    post:
      summary: Create HITL Exception
      description: Manually create a human-in-the-loop review ticket.
      tags: [Exceptions]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description]
              properties:
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: string
                  enum: [low, medium, high, critical]
                  default: medium
                agent_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Exception created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HitlTicket'

  /exceptions/{id}/resolve:
    post:
      summary: Resolve HITL Exception
      tags: [Exceptions]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution:
                  type: string
                  enum: [approve, reject]
                note:
                  type: string
      responses:
        '200':
          description: Exception resolved

  # ──────────────────────────────────────────────
  # HITL Approvals (SDK-Oriented)
  # ──────────────────────────────────────────────
  /hitl/approvals:
    post:
      summary: Request HITL Approval
      description: |
        Creates a human-in-the-loop approval request for a high-risk agent action.
        Computes blast radius, dispatches to configured integration channels (Slack, Teams, Jira),
        and returns a review URL.
      tags: [HITL]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, action_type, action_description]
              properties:
                agent_id:
                  type: string
                  format: uuid
                action_type:
                  type: string
                  example: "delete_database"
                action_description:
                  type: string
                action_payload:
                  type: object
                blast_radius:
                  type: string
                  enum: [low, medium, high, critical]
                reversible:
                  type: boolean
                  default: true
                context:
                  type: object
                routing:
                  type: object
                  properties:
                    escalation_minutes:
                      type: integer
                      default: 30
                metadata:
                  type: object
      responses:
        '201':
          description: Approval request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  approval_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                  expires_at:
                    type: string
                    format: date-time
                  review_url:
                    type: string
                    format: uri
    get:
      summary: List HITL Approvals
      description: List approval requests with optional status and agent filters.
      tags: [HITL]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, escalated, expired]
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Approval list
          content:
            application/json:
              schema:
                type: object
                properties:
                  approvals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
                  total:
                    type: integer

  /hitl/approvals/{approval_id}:
    get:
      summary: Get Approval Detail
      tags: [HITL]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: approval_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Approval detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '404':
          description: Approval not found

  /hitl/approvals/{approval_id}/decide:
    post:
      summary: Decide on Approval
      description: Approve or reject a pending HITL approval request.
      tags: [HITL]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: approval_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
        - name: X-User-Id
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [approved, rejected]
                note:
                  type: string
      responses:
        '200':
          description: Decision recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  approval_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                  decided_at:
                    type: string
                    format: date-time
                  ledger_entry_id:
                    type: string
        '404':
          description: Approval not found
        '409':
          description: Approval already decided

  /hitl/webhooks:
    post:
      summary: Register HITL Webhook
      description: Register a webhook endpoint to receive HITL approval events.
      tags: [HITL]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                  default: ["approval.decided", "approval.expired"]
      responses:
        '201':
          description: Webhook registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook_id:
                    type: string
                    format: uuid
                  url:
                    type: string
                  events:
                    type: array
                    items:
                      type: string
                  created_at:
                    type: string
                    format: date-time

  # ──────────────────────────────────────────────
  # Approval Gateway
  # ──────────────────────────────────────────────
  /approval-requests:
    post:
      summary: Create Approval Request
      description: |
        Submit an approval request for a high-risk agent action. Computes blast radius,
        maps to regulation references, dispatches to configured notification channels,
        and returns a signed tracking ID.
      tags: [ApprovalGateway]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, action]
              properties:
                agent_id:
                  type: string
                  format: uuid
                action:
                  type: object
                  required: [category, description]
                  properties:
                    category:
                      type: string
                      enum: [financial, pii, deploy, comms, infrastructure, data_deletion, model_update]
                    description:
                      type: string
                    tool_name:
                      type: string
                    resource:
                      type: string
                routing:
                  type: object
                  properties:
                    channels:
                      type: array
                      items:
                        type: string
                        enum: [slack, teams, jira, servicenow, webhook]
                    assigned_to:
                      type: string
                sla:
                  type: object
                  properties:
                    deadline_minutes:
                      type: integer
                    auto_action:
                      type: string
                      enum: [approve, reject, escalate]
                context_data:
                  type: object
                  additionalProperties: true
                regulation_refs:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Approval request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending]
                  blast_radius:
                    type: object
                    properties:
                      level:
                        type: string
                        enum: [low, medium, high, critical]
                      score:
                        type: integer
                      factors:
                        type: array
                        items:
                          type: string
                  sla:
                    type: object
                    properties:
                      deadline:
                        type: string
                        format: date-time
                      auto_action:
                        type: string
                  regulation_refs:
                    type: array
                    items:
                      type: string
                  channels_notified:
                    type: array
                    items:
                      type: string
        '400':
          description: Validation error
        '401':
          description: Tenant context required
    get:
      summary: List Approval Requests
      description: List approval requests with optional status filter and pagination.
      tags: [ApprovalGateway]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, escalated]
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of approval requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  approval_requests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        agent_id:
                          type: string
                          format: uuid
                        status:
                          type: string
                        action:
                          type: object
                          properties:
                            category:
                              type: string
                            description:
                              type: string
                        blast_radius:
                          type: object
                        sla:
                          type: object
                        regulation_refs:
                          type: array
                          items:
                            type: string
                        created_at:
                          type: string
                          format: date-time
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /approval-requests/{id}:
    get:
      summary: Get Approval Request
      description: Retrieve full details for a single approval request including blast radius, regulation refs, and signed receipt if decided.
      tags: [ApprovalGateway]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Approval request details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  agent_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                  action:
                    type: object
                  blast_radius:
                    type: object
                  sla:
                    type: object
                  regulation_refs:
                    type: array
                    items:
                      type: string
                  decision:
                    type: object
                    nullable: true
                    properties:
                      action:
                        type: string
                      decided_by:
                        type: string
                      reason:
                        type: string
                      decided_at:
                        type: string
                        format: date-time
                      receipt_signature:
                        type: string
                        nullable: true
                      receipt_event_id:
                        type: string
                        nullable: true
                  created_at:
                    type: string
                    format: date-time
        '404':
          description: Approval request not found

  /approval-requests/{id}/resolve:
    post:
      summary: Resolve Approval Request
      description: |
        Approve or reject an approval request. Creates a cryptographically signed receipt
        via Ed25519 in the audit ledger. Requires x-user-id header for reviewer identity.
      tags: [ApprovalGateway]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: x-user-id
          in: header
          required: true
          schema:
            type: string
          description: Reviewer user ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, reason]
              properties:
                action:
                  type: string
                  enum: [approve, reject]
                reason:
                  type: string
      responses:
        '200':
          description: Approval resolved with signed receipt
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [approved, rejected]
                  decision:
                    type: object
                    properties:
                      decided_by:
                        type: string
                      reason:
                        type: string
                      decided_at:
                        type: string
                        format: date-time
                      receipt_signature:
                        type: string
                        nullable: true
                      receipt_event_id:
                        type: string
                        nullable: true
        '400':
          description: Validation error (missing action, reason, or x-user-id)
        '404':
          description: Approval request not found
        '409':
          description: Approval already resolved

  # ──────────────────────────────────────────────
  # Compliance
  # ──────────────────────────────────────────────
  /compliance/reports:
    get:
      summary: Generate Compliance Report
      description: |
        Generates a point-in-time compliance evidence report. Covers audit trail,
        HITL oversight log, policy violations, signature coverage, and installed policy packs.
        Supported frameworks: SOC 2 Type II, HIPAA, GDPR, PCI-DSS, General.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: framework
          in: query
          schema:
            type: string
            enum: [general, soc2, hipaa, gdpr, pci-dss]
            default: general
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: format
          in: query
          schema:
            type: string
            enum: [json, summary]
            default: json
      responses:
        '200':
          description: Compliance report
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  generated_at:
                    type: string
                    format: date-time
                  framework:
                    type: string
                  period:
                    type: object
                  summary:
                    type: object

  /compliance/reports/generate:
    post:
      summary: Generate EU AI Act Report (Async)
      description: |
        Triggers async generation of an EU AI Act compliance report.
        Returns immediately with a report ID and `generating` status.
        Poll GET /compliance/reports/{report_id} for completion.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [period_start, period_end]
              properties:
                period_start:
                  type: string
                  format: date-time
                period_end:
                  type: string
                  format: date-time
                framework:
                  type: string
                  default: EU_AI_ACT_2024
      responses:
        '202':
          description: Report generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: string
                  status:
                    type: string
                    example: generating
                  estimated_seconds:
                    type: integer

  /compliance/reports/{report_id}:
    get:
      summary: Get Report by ID
      description: Retrieve a specific compliance report by ID.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Report detail
        '404':
          description: Report not found

  /compliance/reports/{report_id}/pdf:
    get:
      summary: Download Report as HTML/PDF
      description: |
        Returns a downloadable HTML document of the compliance report.
        If a pre-generated PDF URL exists, redirects to it.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTML report document
          content:
            text/html:
              schema:
                type: string
        '302':
          description: Redirect to pre-generated PDF URL
        '400':
          description: Report not ready
        '404':
          description: Report not found

  /compliance/evidence-export:
    post:
      summary: Export EU AI Act Evidence Package
      description: |
        Generates a structured JSON evidence manifest mapping provenance, HITL,
        and explainability events to relevant EU AI Act articles (13, 14, 17, 26).
        Currently supports `eu_ai_act` regulation. `iso_42001` returns 501.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Tenant-Id
          in: header
          required: false
          description: Tenant UUID. Can also be provided via API key or request body.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date_range, regulation]
              properties:
                tenant_id:
                  type: string
                  format: uuid
                date_range:
                  type: object
                  required: [start, end]
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                regulation:
                  type: string
                  enum: [eu_ai_act, iso_42001]
            example:
              date_range:
                start: "2026-01-01T00:00:00Z"
                end: "2026-03-31T23:59:59Z"
              regulation: eu_ai_act
      responses:
        '200':
          description: Evidence package generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                    format: uuid
                  regulation:
                    type: string
                  status:
                    type: string
                    enum: [ready, generating, failed]
                  evidence_manifest:
                    type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing tenant context
        '501':
          description: Regulation not yet implemented (iso_42001)

  /compliance/evidence:
    get:
      summary: Get Evidence Package by Framework
      description: Returns the evidence package for a specific compliance framework.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: framework_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Evidence controls
          content:
            application/json:
              schema:
                type: object
                properties:
                  controls:
                    type: object

  /compliance/frameworks:
    get:
      summary: List Compliance Frameworks
      description: Returns compliance dashboards for all configured frameworks.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Framework dashboards
          content:
            application/json:
              schema:
                type: object
                properties:
                  frameworks:
                    type: array
                    items:
                      type: object
    post:
      summary: Trigger Evidence Auto-Mining
      description: Kicks off automatic evidence mining across all frameworks.
      tags: [Compliance]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Auto-mining result

  # ──────────────────────────────────────────────
  # SIEM
  # ──────────────────────────────────────────────
  /siem/export:
    get:
      summary: Pull SIEM Events
      description: |
        Pull-based SIEM export. Returns recent audit events in JSON (NDJSON) or CEF format.
        Compatible with Splunk, QRadar, Elastic SIEM, and Datadog.
      tags: [SIEM]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: format
          in: query
          schema:
            type: string
            enum: [json, cef]
            default: json
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 1000
            maximum: 5000
        - name: event_types
          in: query
          schema:
            type: string
          description: Comma-separated event type filter
      responses:
        '200':
          description: Audit events
          content:
            application/x-ndjson:
              schema:
                type: string
            text/plain:
              schema:
                type: string
    post:
      summary: Push SIEM Events
      description: Triggers an immediate push to all configured SIEM endpoints.
      tags: [SIEM]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Push result
          content:
            application/json:
              schema:
                type: object
                properties:
                  events_exported:
                    type: integer
                  endpoints_notified:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: string

  /siem/subscribe:
    get:
      summary: List SIEM Endpoints
      tags: [SIEM]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: SIEM endpoint list
    post:
      summary: Register SIEM Endpoint
      description: Registers a push endpoint for real-time event forwarding.
      tags: [SIEM]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint_url]
              properties:
                name:
                  type: string
                endpoint_url:
                  type: string
                  format: uri
                format:
                  type: string
                  enum: [json, cef]
                  default: json
                auth_header:
                  type: string
                event_filter:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: SIEM endpoint registered
    delete:
      summary: Remove SIEM Endpoint
      tags: [SIEM]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Endpoint removed

  # ──────────────────────────────────────────────
  # A2A (Agent-to-Agent Governance, S16)
  # ──────────────────────────────────────────────
  /a2a/session:
    post:
      summary: Create A2A Session
      description: Establish a governed agent-to-agent session with Ed25519 signature and TTL.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [initiator_id, target_id, task_description]
              properties:
                initiator_id:
                  type: string
                  format: uuid
                target_id:
                  type: string
                  format: uuid
                task_description:
                  type: string
                ttl_minutes:
                  type: integer
                  default: 60
      responses:
        '201':
          description: Session established
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    $ref: '#/components/schemas/A2ASession'

  /a2a/sessions:
    get:
      summary: List A2A Sessions
      description: List agent-to-agent sessions for the tenant.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, expired]
        - name: initiator_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/A2ASession'
                  count:
                    type: integer

  /a2a/session/{id}/message:
    post:
      summary: Send A2A Message
      description: Relay a governed, signed message within an active A2A session.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from_agent_id, to_agent_id, content]
              properties:
                from_agent_id:
                  type: string
                  format: uuid
                to_agent_id:
                  type: string
                  format: uuid
                content:
                  type: string
                message_type:
                  type: string
                  default: task
      responses:
        '201':
          description: Message sent
        '400':
          description: Session not active
        '404':
          description: Session not found

  /a2a/session/{id}/close:
    post:
      summary: Close A2A Session
      description: Close an active A2A session. Records audit event.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    $ref: '#/components/schemas/A2ASession'
        '404':
          description: Session not found

  /a2a/graph:
    get:
      summary: Get A2A Session Graph
      description: Returns the A2A session graph (nodes = agents, edges = sessions) for D3 visualization.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Filter sessions since this timestamp (default 7 days)
      responses:
        '200':
          description: Graph data
          content:
            application/json:
              schema:
                type: object
                properties:
                  nodes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                  edges:
                    type: array
                    items:
                      type: object
                  session_count:
                    type: integer
                  agent_count:
                    type: integer

  /a2a/handshake:
    post:
      summary: Initiate A2A Handshake
      description: Create a governed handshake contract between two agents requiring both signatures.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [initiator_id, responder_id, task_description]
              properties:
                initiator_id:
                  type: string
                  format: uuid
                responder_id:
                  type: string
                  format: uuid
                task_description:
                  type: string
                metadata:
                  type: object
      responses:
        '201':
          description: Handshake initiated

  /a2a/handshake/{id}/sign:
    post:
      summary: Sign A2A Handshake
      description: Submit an agent's cryptographic signature on a handshake. Governance checks run when both agents have signed.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, signature]
              properties:
                agent_id:
                  type: string
                  format: uuid
                signature:
                  type: string
      responses:
        '200':
          description: Signature recorded

  /a2a/initiate:
    post:
      summary: Initiate A2A Handshake (Alternate)
      description: Alternative handshake initiation endpoint with terms-based contract.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [initiator_id, responder_id, terms]
              properties:
                initiator_id:
                  type: string
                  format: uuid
                responder_id:
                  type: string
                  format: uuid
                terms:
                  type: object
      responses:
        '200':
          description: Handshake initiated

  /a2a/list:
    get:
      summary: List A2A Handshakes
      description: Returns all handshakes for the tenant.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Handshake list
          content:
            application/json:
              schema:
                type: object
                properties:
                  handshakes:
                    type: array
                    items:
                      type: object

  /a2a/sign:
    post:
      summary: Sign A2A Handshake (By Handshake ID)
      description: Sign a handshake using the handshake_id in the request body.
      tags: [A2A]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [handshake_id, agent_id, signature]
              properties:
                handshake_id:
                  type: string
                  format: uuid
                agent_id:
                  type: string
                  format: uuid
                signature:
                  type: string
      responses:
        '200':
          description: Signature recorded

  # ──────────────────────────────────────────────
  # Anomaly Detection (S14)
  # ──────────────────────────────────────────────
  /anomalies:
    get:
      summary: List Behavioral Anomalies
      description: Returns anomaly events for the tenant with optional filters.
      tags: [Anomaly]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: severity
          in: query
          schema:
            type: string
        - name: resolved
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Anomaly list
          content:
            application/json:
              schema:
                type: object
                properties:
                  anomalies:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer

  /anomalies/{id}/resolve:
    post:
      summary: Resolve Anomaly
      tags: [Anomaly]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resolution_note:
                  type: string
                resolved_by:
                  type: string
      responses:
        '200':
          description: Anomaly resolved
        '404':
          description: Anomaly not found

  /anomaly:
    get:
      summary: Get Active Anomalies (Legacy)
      description: Returns active anomalies via AnomalyDetectorService. Legacy endpoint.
      tags: [Anomaly]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Active anomalies
    patch:
      summary: Resolve Anomaly (Legacy)
      description: Resolves an anomaly by ID. Legacy endpoint.
      tags: [Anomaly]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anomaly_id]
              properties:
                anomaly_id:
                  type: string
      responses:
        '200':
          description: Anomaly resolved

  /baselines:
    get:
      summary: List Behavioral Baselines
      description: Returns computed behavioral baselines for the tenant's agents.
      tags: [Anomaly]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Baseline list
          content:
            application/json:
              schema:
                type: object
                properties:
                  baselines:
                    type: array
                    items:
                      type: object

  # ──────────────────────────────────────────────
  # Explainability (S11)
  # ──────────────────────────────────────────────
  /explain:
    get:
      summary: Get or List Explanations
      description: |
        With `certificate_id` parameter: returns a single explanation (auto-generates if missing).
        Without: returns paginated tenant explanation history.
      tags: [Explain]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: certificate_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Explanation or list of explanations
    post:
      summary: Generate Explanation
      description: Trigger async generation of an explanation for a certificate.
      tags: [Explain]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [certificate_id]
              properties:
                certificate_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Explanation generated

  /explain/{certificate_id}:
    get:
      summary: Public Explanation Lookup
      description: |
        **Public endpoint -- no authentication required.**
        Regulators and auditors can verify an AI decision explanation by certificate ID.
        Responses are cached for 1 hour.
      tags: [Explain]
      parameters:
        - name: certificate_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Explanation detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  explanation:
                    type: object
                    properties:
                      id:
                        type: string
                      certificate_id:
                        type: string
                      decision_summary:
                        type: string
                      key_factors:
                        type: array
                        items:
                          type: string
                      counterfactual:
                        type: string
                      confidence_score:
                        type: number
                      regulatory_refs:
                        type: array
                        items:
                          type: string
        '404':
          description: Explanation not found

  # ──────────────────────────────────────────────
  # FinOps (S9)
  # ──────────────────────────────────────────────
  /finops/breakdown:
    get:
      summary: Get Cost Breakdown
      description: Returns AI cost breakdown for the tenant over a period.
      tags: [FinOps]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: days
          in: query
          schema:
            type: integer
            default: 30
      responses:
        '200':
          description: Cost breakdown

  /finops/budgets:
    get:
      summary: List Budgets
      description: Returns all agent budgets for the tenant.
      tags: [FinOps]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Budget list
    post:
      summary: Set Budget
      description: Create or update a budget for a tenant or specific agent.
      tags: [FinOps]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [budget_usd]
              properties:
                agent_id:
                  type: string
                  format: uuid
                budget_usd:
                  type: number
                scope_type:
                  type: string
                hard_block:
                  type: boolean
                alert_at:
                  type: number
                  description: Alert threshold percentage (0-1)
      responses:
        '200':
          description: Budget set

  /finops/check:
    post:
      summary: Check Budget Before Action
      description: Pre-flight check whether the agent has remaining budget for an action.
      tags: [FinOps]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                estimated_tokens:
                  type: integer
                  default: 2000
                model:
                  type: string
                  default: default
      responses:
        '200':
          description: Budget OK
        '402':
          description: Budget exceeded

  /finops/record:
    post:
      summary: Record AI Cost
      description: Record actual token usage and cost after an LLM call.
      tags: [FinOps]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
                input_tokens:
                  type: integer
                  default: 0
                output_tokens:
                  type: integer
                  default: 0
                certificate_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Cost recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  cost_usd:
                    type: number

  # ──────────────────────────────────────────────
  # Physical AI Safety (S15)
  # ──────────────────────────────────────────────
  /physical/agents:
    get:
      summary: List Physical Agents
      description: Returns all registered physical agent devices for the tenant.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Physical agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer
    post:
      summary: Register Physical Agent
      description: Register a new physical agent device (robot, drone, etc.).
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, device_type, name]
              properties:
                device_id:
                  type: string
                device_type:
                  type: string
                name:
                  type: string
                location_zone:
                  type: string
                allowed_zones:
                  type: array
                  items:
                    type: string
                max_payload_kg:
                  type: number
                firmware_version:
                  type: string
                metadata:
                  type: object
      responses:
        '201':
          description: Physical agent registered

  /physical/preauth:
    post:
      summary: Pre-Authorize Physical Action
      description: |
        Pre-authorise a physical action before execution. Checks device status,
        zone permissions, and creates a signed immutable log entry.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [physical_agent_id, action_type]
              properties:
                physical_agent_id:
                  type: string
                  format: uuid
                action_type:
                  type: string
                action_detail:
                  type: object
                zone:
                  type: string
                operator_present:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Action authorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict:
                    type: string
                    enum: [authorized, blocked]
                  log_id:
                    type: string
                    format: uuid
                  signature:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '403':
          description: Action blocked (E-STOP, zone violation, etc.)
        '404':
          description: Physical agent not found

  /physical/outcome:
    post:
      summary: Record Physical Action Outcome
      description: Record the outcome of a physical action after execution.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [log_id, outcome]
              properties:
                log_id:
                  type: string
                  format: uuid
                outcome:
                  type: string
                  enum: [success, failure, partial]
                outcome_detail:
                  type: object
      responses:
        '200':
          description: Outcome recorded
        '404':
          description: Log entry not found

  /physical/{agent_id}/stop:
    post:
      summary: Emergency Stop Physical Agent
      description: Immediately sets a physical agent's status to `emergency_stopped`. All future pre-auth requests will be blocked.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Agent emergency stopped
        '404':
          description: Physical agent not found

  /physical/estop:
    post:
      summary: Emergency Stop Node (Fleet)
      description: Trigger an emergency stop on a physical node via PhysicalAIService.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [node_id]
              properties:
                node_id:
                  type: string
      responses:
        '200':
          description: E-Stop triggered

  /physical/log:
    get:
      summary: Get Physical Action Log
      description: Retrieve the immutable physical action audit log.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: physical_agent_id
          in: query
          schema:
            type: string
            format: uuid
        - name: verdict
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        '200':
          description: Action log
          content:
            application/json:
              schema:
                type: object
                properties:
                  log:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer

  /physical/nodes:
    get:
      summary: List Physical Nodes
      description: Returns all physical nodes via PhysicalAIService.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Node list

  /physical/validate:
    post:
      summary: Validate Kinetic Command
      description: |
        Low-latency validation of a kinetic command (velocity, coordinates).
        Designed for edge hardware with minimal response time.
      tags: [Physical]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [node_id, velocity_ms]
              properties:
                node_id:
                  type: string
                velocity_ms:
                  type: number
                lat:
                  type: number
                lon:
                  type: number
      responses:
        '200':
          description: Command allowed
        '403':
          description: Command blocked

  # ──────────────────────────────────────────────
  # NHI (Non-Human Identity, S12)
  # ──────────────────────────────────────────────
  /nhi/list:
    get:
      summary: List Agent Keys
      description: Returns all NHI API keys for the tenant.
      tags: [NHI]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object

  /nhi/ephemeral:
    post:
      summary: Issue Ephemeral API Key
      description: Issue a short-lived API key for a sub-agent. Shown once.
      tags: [NHI]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: X-Agent-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Parent agent ID
      requestBody:
        required: true
[...]
